{% load static %}
<section class="bg-[#F9F9F9] h-[90vh] flex items-center rounded-xl overflow-hidden relative px-20">
    <div class="font-bold text-6xl z-20">
        <h1>FIND</h1>
        <h1>WHAT SUITES</h1>
        <h1>YOUR 
            <span class="bg-gradient-to-r from-[#7C00FE] to-[#D91656] bg-clip-text text-transparent">
                STYLE
            </span>
        </h1>
    </div>
    <img src={% static "images/asset-woman-pose.png" %} alt="asset1" class="absolute h-[90%] bottom-0 right-0 xl:right-32 object-contain object-bottom">
</section>