<section class="w-full flex flex-col items-center gap-4 px-10 md:px-20 py-10">
    <div
        class="flex flex-col-reverse md:flex-row gap-4 justify-end"
    >
        <a href="{% url 'main:create_product_form'%}">
            {% include "components/button.html" with text="+ Create" %}
        </a>
        {% include "components/input.html" with class="w-full md:w-[500px]" %}
        <button
            data-modal-target="crudModal"
            data-modal-toggle="crudModal"
            class='bg-[#7C00FE] w-fit py-3 px-10 text-white text-sm font-semibold rounded-3xl h-full hover:scale-105 duration-300'
            onclick="showModal();"
        >
            + Create (AJAX)
        </button>
    </div>
    <div id="product-container"></div>

    {% include "crud/create_product_modal.html" %}
</section>