{% extends 'base.html' %} 
{% load static %}
{% block content %}
{% include "components/navbar.html" %}
<main
  class="flex flex-col items-center justify-center w-screen min-h-screen px-5 my-20"
>
  <div>
    <a href="{% url 'main:show_main' %}" class="self-start mb-5 text-[#7C00FE] hover:underline">
      &larr; Back to Product List
    </a>
    <h1
      class="font-bold text-xl sm:text-2xl text-center my-3"
    >
      Edit Product
    </h1>
    <div
      class="shadow-xl bg-white p-5 sm:p-10 rounded-3xl flex flex-col gap-10 items-center border-[2px] border-black/5"
    >
      <form method="POST" class="grid grid-cols-1 md:grid-cols-2 gap-5">
        {% csrf_token %}
          {% for field in form %}
            <div class="mb-5 flex flex-col" >
                <span class="font-semibold" >
                  {{ field.label }}
                </span>
                {{ field }}
                {% if field.help_text %}
                    <small class="text-[#737373]">{{ field.help_text }}</small>
                {% endif %}
                {% for error in field.errors %}
                    <p class="text-red-600">{{ error }}</p>
                {% endfor %}
            </div>
        {% endfor %}
        <button type="submit" class="bg-[#7C00FE] text-white font-semibold py-3 px-5 rounded-3xl hover:scale-105 duration-300 w-full">Edit</button>
      </form>
    </div>
  </div>
</main>
{% include "components/footer.html" %}
{% endblock %}