@tailwind base;
@tailwind components;
@tailwind utilities;

input {
    background-color: #F6F6F6;
    min-height: 50px;
    color: black;
    padding-left: 20px;
    ::placeholder {
        color: #95979D;
        font-weight: normal;
    }
    outline: none;
    font-weight: bold;
    border-radius: 10px;
    justify-content: center;
}

textarea {
    background-color: #F6F6F6;
    padding: 20ex;
    color: black;
    ::placeholder {
        color: #95979D;
        font-weight: normal;
    }
    outline: none;
    font-weight: bold;
    border-radius: 10px;
    justify-content: center;
}