{% load static %}
<footer class="px-20 flex flex-col items-center py-10 bg-[#7C00FE] text-white" >
    <div class="grid grid-cols-1 sm:grid-cols-3 w-full gap-5">
        <div
            class="flex items-center"
        >
            <img src="{% static 'images/skibiicon-footer.png' %}" alt="logo" class="w-12 object-contain">
        </div>
        <div class="flex flex-col">
            <h3 class="font-bold">Skibishop</h3>
            <a href="">About</a>
            <a href="">Products</a>
            <a href="">Categories</a>
            <a href="">Cart</a>
        </div>
        <div class="flex flex-col">
            <h3 class="font-bold">What About Andrew</h3>
            <a href="">About Me</a>
            <a href="https://www.andrew-devito.website/">My Portfolio</a>
            <a href="https://www.linkedin.com/in/andrewaryo">My Linkedin</a>
            <a href="">Give me Coffee</a>
        </div>
    </div>
    <p class="font-semibold text-sm mt-5">
        &copy; 2024 Skibishop. All rights reserved.
    </p>
</footer>