<nav
    class="flex justify-between mb-5 gap-2 items-center"
>
    <h1 class="m-0 text-xl md:text-4xl font-extrabold">skibishop_</h1>
    <div class="hidden lg:flex gap-20 items-center font-semibold">
        <a href="/" class="hover:scale-105 hover:">Home</a>        
        <a href="" class="hover:scale-105 hover:">Today's Deal</a>        
        <a href="admin" class="hover:scale-105 hover:">Admin</a>        
    </div>
    <a href="{% url 'main:login_user' %}">
        {% include "components/button.html" with text="Login"%}
    </a>
</nav>